.shortcuts{
  text-align: end;
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-around;
  padding: auto;
  margin: auto;
}

a {
  margin-right: 10px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

img {
  padding: 5px;
  width: 350px;
  justify-content: center;
}

.mainSearch{
  width: 100%;
  margin: 0 auto;
}

.searchBar{
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons{
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type="submit"]{
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

input[type="button"]{
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}



